<h1 align="center" ><u>Other details</u></h1><br>
<form>
<table  align="center" >
	
	<td>
		
  <div class="form-group">
    <div class="form-group">
    <label for="exampleInputEmail1">Gender:</label>&nbsp;&nbsp;
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Male</label>

  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
<div class="well"> 
      <div class="form-group">
      <label>Date of Birth</label>
      <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
    </div>
</div>
</div>
<div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Teaching Subject</option>
        <option value="1">Java</option>
        <option value="2">ruby on rails</option>
        <option value="3">Php</option>
        <option value="3">.net</option>
      </select>
    </div>
    <br>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</td>


</table>
</form>
